name: PR Labeler
on:
  pull_request_target:
    types: [opened, edited]

jobs:
  label:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: bcoe/conventional-release-labels@v1
        with:
          type_labels: |
            {
              "feat": "enhancement",
              "fix": "bug",
              "docs": "documentation",
              "ci": "ci",
              "chore": "chore"
            }
          ignored_types: ""
